// @use 'theme-transition/scss/mixins.scss' as M;
@use 'tailwindcss/base' as *;
@use 'tailwindcss/components' as *;
@use 'tailwindcss/utilities' as *;
@use './custom/layers';
@use './custom/base';
@use './custom/theme';
@use './custom/layout';
@use './custom/homepage';
@use './custom/docs';
@use './custom/animations';

// @include M.theme-transition('[data-theme="dark"]');
