/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* You can override the default Infima variables here. */
// :root {
//   // 微信主色
//   // #07c160

//   --ifm-color-primary: #2e8555;
//   --ifm-color-primary-dark: #29784c;
//   --ifm-color-primary-darker: #277148;
//   --ifm-color-primary-darkest: #205d3b;
//   --ifm-color-primary-light: #33925d;
//   --ifm-color-primary-lighter: #359962;
//   --ifm-color-primary-lightest: #3cad6e;
//   --ifm-code-font-size: 95%;
//   --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
// }

// /* For readability concerns, you should choose a lighter palette in dark mode. */
// [data-theme="dark"] {
//   --ifm-color-primary: #25c2a0;
//   --ifm-color-primary-dark: #21af90;
//   --ifm-color-primary-darker: #1fa588;
//   --ifm-color-primary-darkest: #1a8870;
//   --ifm-color-primary-light: #29d5b0;
//   --ifm-color-primary-lighter: #32d8b4;
//   --ifm-color-primary-lightest: #4fddbf;
//   --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
// }

:root {
  /*
  See css var + hsl color palette technique:
  https://blog.maximeheckel.com/posts/the-power-of-composition-with-css-variables/
   */
  --site-primary-hue-saturation: 167 68%;
  --site-primary-hue-saturation-light: 167 56%; /* do we really need this extra one? */
  --site-color-favorite-background: #f6fdfd;
  --site-color-tooltip: #fff;
  --site-color-tooltip-background: #353738;
  --site-color-svg-icon-favorite: #e9669e;
  --site-color-checkbox-checked-bg: hsl(167deg 56% 73% / 25%);
  --site-color-feedback-background: #fff;
  --docusaurus-highlighted-code-line-bg: rgb(0 0 0 / 10%);
  /* Use a darker color to ensure contrast, ideally we don't need important */
  --ifm-breadcrumb-color-active: var(--ifm-color-primary-darker) !important;
  --ifm-menu-color-active: var(--ifm-color-primary-darker) !important;
}

html[data-theme="dark"] {
  --site-color-feedback-background: #f0f8ff;
  --site-color-favorite-background: #1d1e1e;
  --site-color-checkbox-checked-bg: hsl(167deg 56% 73% / 10%);
  --docusaurus-highlighted-code-line-bg: rgb(66 66 66 / 35%);
}

/*
 * This selector will be dynamically replaced by the color generator. Don't put
 * other properties here.
 */
[data-theme="light"] {
  --ifm-color-primary: hsl(var(--site-primary-hue-saturation) 30%);
  --ifm-color-primary-dark: hsl(var(--site-primary-hue-saturation) 26%);
  --ifm-color-primary-darker: hsl(var(--site-primary-hue-saturation) 23%);
  --ifm-color-primary-darkest: hsl(var(--site-primary-hue-saturation) 17%);

  --ifm-color-primary-light: hsl(var(--site-primary-hue-saturation-light) 39%);
  --ifm-color-primary-lighter: hsl(var(--site-primary-hue-saturation-light) 47%);
  --ifm-color-primary-lightest: hsl(var(--site-primary-hue-saturation-light) 58%);
}

/*
 * This selector will be dynamically replaced by the color generator. Don't put
 * other properties here.
 */
[data-theme="dark"] {
  --ifm-color-primary: hsl(var(--site-primary-hue-saturation) 45%);
  --ifm-color-primary-dark: hsl(var(--site-primary-hue-saturation) 41%);
  --ifm-color-primary-darker: hsl(var(--site-primary-hue-saturation) 38%);
  --ifm-color-primary-darkest: hsl(var(--site-primary-hue-saturation) 32%);

  --ifm-color-primary-light: hsl(var(--site-primary-hue-saturation-light) 54%);
  --ifm-color-primary-lighter: hsl(var(--site-primary-hue-saturation-light) 62%);
  --ifm-color-primary-lightest: hsl(var(--site-primary-hue-saturation-light) 73%);
}

[data-theme="light"] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme="dark"] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}
