@theme {
  --color-red-50: rgb(254, 242, 242);
  --color-red-100: rgb(255, 226, 226);
  --color-red-200: rgb(255, 201, 201);
  --color-red-300: rgb(255, 162, 162);
  --color-red-400: rgb(255, 100, 103);
  --color-red-500: rgb(251, 44, 54);
  --color-red-600: rgb(231, 0, 11);
  --color-red-700: rgb(193, 0, 7);
  --color-red-800: rgb(159, 7, 18);
  --color-red-900: rgb(130, 24, 26);
  --color-red-950: rgb(70, 8, 9);

  --color-orange-50: rgb(255, 247, 237);
  --color-orange-100: rgb(255, 237, 212);
  --color-orange-200: rgb(255, 214, 167);
  --color-orange-300: rgb(255, 184, 106);
  --color-orange-400: rgb(255, 137, 4);
  --color-orange-500: rgb(255, 105, 0);
  --color-orange-600: rgb(245, 73, 0);
  --color-orange-700: rgb(202, 53, 0);
  --color-orange-800: rgb(159, 45, 0);
  --color-orange-900: rgb(126, 42, 12);
  --color-orange-950: rgb(68, 19, 6);

  --color-amber-50: rgb(255, 251, 235);
  --color-amber-100: rgb(254, 243, 198);
  --color-amber-200: rgb(254, 230, 133);
  --color-amber-300: rgb(255, 210, 48);
  --color-amber-400: rgb(255, 185, 0);
  --color-amber-500: rgb(254, 154, 0);
  --color-amber-600: rgb(225, 113, 0);
  --color-amber-700: rgb(187, 77, 0);
  --color-amber-800: rgb(151, 60, 0);
  --color-amber-900: rgb(123, 51, 6);
  --color-amber-950: rgb(70, 25, 1);

  --color-yellow-50: rgb(254, 252, 232);
  --color-yellow-100: rgb(254, 249, 194);
  --color-yellow-200: rgb(255, 240, 133);
  --color-yellow-300: rgb(255, 223, 32);
  --color-yellow-400: rgb(253, 199, 0);
  --color-yellow-500: rgb(240, 177, 0);
  --color-yellow-600: rgb(208, 135, 0);
  --color-yellow-700: rgb(166, 95, 0);
  --color-yellow-800: rgb(137, 75, 0);
  --color-yellow-900: rgb(115, 62, 10);
  --color-yellow-950: rgb(67, 32, 4);

  --color-lime-50: rgb(247, 254, 231);
  --color-lime-100: rgb(236, 252, 202);
  --color-lime-200: rgb(216, 249, 153);
  --color-lime-300: rgb(187, 244, 81);
  --color-lime-400: rgb(154, 230, 0);
  --color-lime-500: rgb(124, 207, 0);
  --color-lime-600: rgb(94, 165, 0);
  --color-lime-700: rgb(73, 125, 0);
  --color-lime-800: rgb(60, 99, 0);
  --color-lime-900: rgb(53, 83, 14);
  --color-lime-950: rgb(25, 46, 3);

  --color-green-50: rgb(240, 253, 244);
  --color-green-100: rgb(220, 252, 231);
  --color-green-200: rgb(185, 248, 207);
  --color-green-300: rgb(123, 241, 168);
  --color-green-400: rgb(5, 223, 114);
  --color-green-500: rgb(0, 201, 80);
  --color-green-600: rgb(0, 166, 62);
  --color-green-700: rgb(0, 130, 54);
  --color-green-800: rgb(1, 102, 48);
  --color-green-900: rgb(13, 84, 43);
  --color-green-950: rgb(3, 46, 21);

  --color-emerald-50: rgb(236, 253, 245);
  --color-emerald-100: rgb(208, 250, 229);
  --color-emerald-200: rgb(164, 244, 207);
  --color-emerald-300: rgb(94, 233, 181);
  --color-emerald-400: rgb(0, 212, 146);
  --color-emerald-500: rgb(0, 188, 125);
  --color-emerald-600: rgb(0, 153, 102);
  --color-emerald-700: rgb(0, 122, 85);
  --color-emerald-800: rgb(0, 96, 69);
  --color-emerald-900: rgb(0, 79, 59);
  --color-emerald-950: rgb(0, 44, 34);

  --color-teal-50: rgb(240, 253, 250);
  --color-teal-100: rgb(203, 251, 241);
  --color-teal-200: rgb(150, 247, 228);
  --color-teal-300: rgb(70, 236, 213);
  --color-teal-400: rgb(0, 213, 190);
  --color-teal-500: rgb(0, 187, 167);
  --color-teal-600: rgb(0, 150, 137);
  --color-teal-700: rgb(0, 120, 111);
  --color-teal-800: rgb(0, 95, 90);
  --color-teal-900: rgb(11, 79, 74);
  --color-teal-950: rgb(2, 47, 46);

  --color-cyan-50: rgb(236, 254, 255);
  --color-cyan-100: rgb(206, 250, 254);
  --color-cyan-200: rgb(162, 244, 253);
  --color-cyan-300: rgb(83, 234, 253);
  --color-cyan-400: rgb(0, 211, 242);
  --color-cyan-500: rgb(0, 184, 219);
  --color-cyan-600: rgb(0, 146, 184);
  --color-cyan-700: rgb(0, 117, 149);
  --color-cyan-800: rgb(0, 95, 120);
  --color-cyan-900: rgb(16, 78, 100);
  --color-cyan-950: rgb(5, 51, 69);

  --color-sky-50: rgb(240, 249, 255);
  --color-sky-100: rgb(223, 242, 254);
  --color-sky-200: rgb(184, 230, 254);
  --color-sky-300: rgb(116, 212, 255);
  --color-sky-400: rgb(0, 188, 255);
  --color-sky-500: rgb(0, 166, 244);
  --color-sky-600: rgb(0, 132, 209);
  --color-sky-700: rgb(0, 105, 168);
  --color-sky-800: rgb(0, 89, 138);
  --color-sky-900: rgb(2, 74, 112);
  --color-sky-950: rgb(5, 47, 74);

  --color-blue-50: rgb(239, 246, 255);
  --color-blue-100: rgb(219, 234, 254);
  --color-blue-200: rgb(190, 219, 255);
  --color-blue-300: rgb(142, 197, 255);
  --color-blue-400: rgb(81, 162, 255);
  --color-blue-500: rgb(43, 127, 255);
  --color-blue-600: rgb(21, 93, 252);
  --color-blue-700: rgb(20, 71, 230);
  --color-blue-800: rgb(25, 60, 184);
  --color-blue-900: rgb(28, 57, 142);
  --color-blue-950: rgb(22, 36, 86);

  --color-indigo-50: rgb(238, 242, 255);
  --color-indigo-100: rgb(224, 231, 255);
  --color-indigo-200: rgb(198, 210, 255);
  --color-indigo-300: rgb(163, 179, 255);
  --color-indigo-400: rgb(124, 134, 255);
  --color-indigo-500: rgb(97, 95, 255);
  --color-indigo-600: rgb(79, 57, 246);
  --color-indigo-700: rgb(67, 45, 215);
  --color-indigo-800: rgb(55, 42, 172);
  --color-indigo-900: rgb(49, 44, 133);
  --color-indigo-950: rgb(30, 26, 77);

  --color-violet-50: rgb(245, 243, 255);
  --color-violet-100: rgb(237, 233, 254);
  --color-violet-200: rgb(221, 214, 255);
  --color-violet-300: rgb(196, 180, 255);
  --color-violet-400: rgb(166, 132, 255);
  --color-violet-500: rgb(142, 81, 255);
  --color-violet-600: rgb(127, 34, 254);
  --color-violet-700: rgb(112, 8, 231);
  --color-violet-800: rgb(93, 14, 192);
  --color-violet-900: rgb(77, 23, 154);
  --color-violet-950: rgb(47, 13, 104);

  --color-purple-50: rgb(250, 245, 255);
  --color-purple-100: rgb(243, 232, 255);
  --color-purple-200: rgb(233, 212, 255);
  --color-purple-300: rgb(218, 178, 255);
  --color-purple-400: rgb(194, 122, 255);
  --color-purple-500: rgb(173, 70, 255);
  --color-purple-600: rgb(152, 16, 250);
  --color-purple-700: rgb(130, 0, 219);
  --color-purple-800: rgb(110, 17, 176);
  --color-purple-900: rgb(89, 22, 139);
  --color-purple-950: rgb(60, 3, 102);

  --color-fuchsia-50: rgb(253, 244, 255);
  --color-fuchsia-100: rgb(250, 232, 255);
  --color-fuchsia-200: rgb(246, 207, 255);
  --color-fuchsia-300: rgb(244, 168, 255);
  --color-fuchsia-400: rgb(237, 106, 255);
  --color-fuchsia-500: rgb(225, 42, 251);
  --color-fuchsia-600: rgb(200, 0, 222);
  --color-fuchsia-700: rgb(168, 0, 183);
  --color-fuchsia-800: rgb(138, 1, 148);
  --color-fuchsia-900: rgb(114, 19, 120);
  --color-fuchsia-950: rgb(75, 0, 79);

  --color-pink-50: rgb(253, 242, 248);
  --color-pink-100: rgb(252, 231, 243);
  --color-pink-200: rgb(252, 206, 232);
  --color-pink-300: rgb(253, 165, 213);
  --color-pink-400: rgb(251, 100, 182);
  --color-pink-500: rgb(246, 51, 154);
  --color-pink-600: rgb(230, 0, 118);
  --color-pink-700: rgb(198, 0, 92);
  --color-pink-800: rgb(163, 0, 76);
  --color-pink-900: rgb(134, 16, 67);
  --color-pink-950: rgb(81, 4, 36);

  --color-rose-50: rgb(255, 241, 242);
  --color-rose-100: rgb(255, 228, 230);
  --color-rose-200: rgb(255, 204, 211);
  --color-rose-300: rgb(255, 161, 173);
  --color-rose-400: rgb(255, 99, 126);
  --color-rose-500: rgb(255, 32, 86);
  --color-rose-600: rgb(236, 0, 63);
  --color-rose-700: rgb(199, 0, 54);
  --color-rose-800: rgb(165, 0, 54);
  --color-rose-900: rgb(139, 8, 54);
  --color-rose-950: rgb(77, 2, 24);

  --color-slate-50: rgb(248, 250, 252);
  --color-slate-100: rgb(241, 245, 249);
  --color-slate-200: rgb(226, 232, 240);
  --color-slate-300: rgb(202, 213, 226);
  --color-slate-400: rgb(144, 161, 185);
  --color-slate-500: rgb(98, 116, 142);
  --color-slate-600: rgb(69, 85, 108);
  --color-slate-700: rgb(49, 65, 88);
  --color-slate-800: rgb(29, 41, 61);
  --color-slate-900: rgb(15, 23, 43);
  --color-slate-950: rgb(2, 6, 24);

  --color-gray-50: rgb(249, 250, 251);
  --color-gray-100: rgb(243, 244, 246);
  --color-gray-200: rgb(229, 231, 235);
  --color-gray-300: rgb(209, 213, 220);
  --color-gray-400: rgb(153, 161, 175);
  --color-gray-500: rgb(106, 114, 130);
  --color-gray-600: rgb(74, 85, 101);
  --color-gray-700: rgb(54, 65, 83);
  --color-gray-800: rgb(30, 41, 57);
  --color-gray-900: rgb(16, 24, 40);
  --color-gray-950: rgb(3, 7, 18);

  --color-zinc-50: rgb(250, 250, 250);
  --color-zinc-100: rgb(244, 244, 245);
  --color-zinc-200: rgb(228, 228, 231);
  --color-zinc-300: rgb(212, 212, 216);
  --color-zinc-400: rgb(159, 159, 169);
  --color-zinc-500: rgb(113, 113, 123);
  --color-zinc-600: rgb(82, 82, 92);
  --color-zinc-700: rgb(63, 63, 70);
  --color-zinc-800: rgb(39, 39, 42);
  --color-zinc-900: rgb(24, 24, 27);
  --color-zinc-950: rgb(9, 9, 11);

  --color-neutral-50: rgb(250, 250, 250);
  --color-neutral-100: rgb(245, 245, 245);
  --color-neutral-200: rgb(229, 229, 229);
  --color-neutral-300: rgb(212, 212, 212);
  --color-neutral-400: rgb(161, 161, 161);
  --color-neutral-500: rgb(115, 115, 115);
  --color-neutral-600: rgb(82, 82, 82);
  --color-neutral-700: rgb(64, 64, 64);
  --color-neutral-800: rgb(38, 38, 38);
  --color-neutral-900: rgb(23, 23, 23);
  --color-neutral-950: rgb(10, 10, 10);

  --color-stone-50: rgb(250, 250, 249);
  --color-stone-100: rgb(245, 245, 244);
  --color-stone-200: rgb(231, 229, 228);
  --color-stone-300: rgb(214, 211, 209);
  --color-stone-400: rgb(166, 160, 155);
  --color-stone-500: rgb(121, 113, 107);
  --color-stone-600: rgb(87, 83, 77);
  --color-stone-700: rgb(68, 64, 59);
  --color-stone-800: rgb(41, 37, 36);
  --color-stone-900: rgb(28, 25, 23);
  --color-stone-950: rgb(12, 10, 9);

  --color-black: #000;
  --color-white: #fff;
}
