// 支持文件
@import "../../assets/scss/support";



.index__content {
  margin-top: 40px;
}

.index__content-icons {
  align-items: center;
}

.index__content-icons-item {
  font-size: 0;
  line-height: 0;
}

.index_qrcode {
  width: 150px;
  height: 150px;
}
