/**
 * 和业务相关的一些常量，具体定义见constant.js
 */

var ORDER_STATUS = {
  WAITING_FOR_OTHERS_TO_RETURN: 1001,
  WAITING_TO_TAKE_RETURNED_BOOK: 1002,
  WAITING_TO_TAKE_AT_PLANED_TIME: 1003,
  BORROWING: 1004,
  NORMAL_CLOSE: 1011,
  ABNORMAL_CLOSE: 1012,
  CANCELED_BY_USER: 1021
}

module.exports = {
  ORDER_STATUS: ORDER_STATUS
}
