/** index.scss **/
page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.scrollarea {
  flex: 1;
  overflow-y: hidden;
}

.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  color: #aaa;
}

.userinfo-avatar {
  width: 128rpx;
  height: 128rpx;
  margin: 20rpx;
  overflow: hidden;
  border-radius: 50%;
}

.usermotto {
  margin-top: 200px;
}

.avatar-wrapper {
  width: 56px !important;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 8px;
}

.avatar {
  display: block;
  width: 56px;
  height: 56px;
}

.nickname-wrapper {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 16px;
  color: black;
  border-top: 0.5px solid rgb(0 0 0 / 10%);
  border-bottom: 0.5px solid rgb(0 0 0 / 10%);
}

.nickname-label {
  width: 105px;
}

.nickname-input {
  flex: 1;
}
