.tw-page-style-watch-anchor {
  color: inherit;
}
:root {
  --nut-icon-height: 16px;
  --nut-icon-width: 16px;
  --nut-icon-line-height: 16px;
  --nut-icon-color: #171a26;
  --animate-duration: 1s;
  --animate-delay: 0s;
}
page {
  --nut-icon-height: 16px;
  --nut-icon-width: 16px;
  --nut-icon-line-height: 16px;
  --nut-icon-color: #171a26;
  --animate-duration: 1s;
  --animate-delay: 0s;
}
.nut-icon {
  color: var(--nut-icon-color, #171a26);
  display: inline-block;
  font-size: var(--nut-icon-width, 16px);
  height: var(--nut-icon-height, 16px);
  line-height: var(--nut-icon-line-height, 16px);
  position: relative;
  text-align: right;
  width: var(--nut-icon-width, 16px);
}
.nut-icon-img {
  height: var(--nut-icon-height);
  object-fit: contain;
  width: var(--nut-icon-width);
}
.nut-icon-Loading,
.nut-icon-Loading1,
.nut-icon-loading,
.nut-icon-loading1 {
  animation: rotation 1s linear infinite;
  display: inline-block;
}
.nut-icon-am-infinite {
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.nut-icon-am-jump {
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-name: nutJumpOne;
  animation-name: nutJumpOne;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}
.nut-icon-am-jump.nut-icon-am-infinite {
  -webkit-animation-name: nutJump;
  animation-name: nutJump;
}
.nut-icon-am-rotate {
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-name: rotation;
  animation-name: rotation;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.nut-icon-am-rotate.nut-icon-am-infinite {
  -webkit-animation-direction: normal;
  animation-direction: normal;
}
.nut-icon-am-blink {
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-name: nutBlink;
  animation-name: nutBlink;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: linear;
}
.nut-icon-am-breathe {
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-name: nutBreathe;
  animation-name: nutBreathe;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.nut-icon-am-flash {
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-name: nutFlash;
  animation-name: nutFlash;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.nut-icon-am-bounce {
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-name: nutBounce;
  animation-name: nutBounce;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.nut-icon-am-bounce.nut-icon-am-infinite {
  -webkit-animation-direction: normal;
  animation-direction: normal;
}
.nut-icon-am-shake {
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-name: nutShake;
  animation-name: nutShake;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
  }
}
@-webkit-keyframes nutJump {
  to {
    transform: scale3d(0.8, 1, 0.9) translateY(-10px);
  }
}
@keyframes nutJump {
  to {
    transform: scale3d(0.8, 1, 0.9) translateY(-10px);
  }
}
@-webkit-keyframes nutJumpOne {
  50% {
    transform: scale3d(0.8, 1, 0.9) translateY(-10px);
  }
  to {
    transform: scaleZ(1) translateY(0);
  }
}
@keyframes nutJumpOne {
  50% {
    transform: scale3d(0.8, 1, 0.9) translateY(-10px);
  }
  to {
    transform: scaleZ(1) translateY(0);
  }
}
@-webkit-keyframes nutBlink {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes nutBlink {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes nutBreathe {
  0%,
  to {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
@keyframes nutBreathe {
  0%,
  to {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
@-webkit-keyframes nutFlash {
  0%,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes nutFlash {
  0%,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@-webkit-keyframes nutBounce {
  0%,
  20%,
  53%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    -webkit-transform: translateZ(0) scaleY(0.95);
    transform: translateZ(0) scaleY(0.95);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
@keyframes nutBounce {
  0%,
  20%,
  53%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    -webkit-transform: translateZ(0) scaleY(0.95);
    transform: translateZ(0) scaleY(0.95);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
@-webkit-keyframes nutShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translate(0);
  }
  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translate(-6px) rotateY(-9deg);
  }
  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translate(5px) rotateY(7deg);
  }
  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translate(-3px) rotateY(-5deg);
  }
  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translate(2px) rotateY(3deg);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translate(0);
  }
}
@keyframes nutShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translate(0);
  }
  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translate(-6px) rotateY(-9deg);
  }
  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translate(5px) rotateY(7deg);
  }
  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translate(-3px) rotateY(-5deg);
  }
  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translate(2px) rotateY(3deg);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translate(0);
  }
}
