# hoist=false
shamefully-hoist=true
hoist-pattern[]=!"**/@dcloudio/**"
hoist-pattern[]=!"**/*vue*/**"
# hoist-pattern[]=!@tarojs*
public-hoist-pattern[]=!"**/@dcloudio/**"
public-hoist-pattern[]=!"**/*vue*/**"
