
@import 'share';

.container {
	@extend %center-flex;

	flex-direction: column;
	align-items: center;
}

.avatar {
	$r: 120rpx;

	width: $r;
	height: $r;
	margin: 20rpx;
	border-radius: 50%;
}

.nickname {
	color: #aaa;
}
