@import "tailwindcss" source(none);
@import "@nutui/nutui-taro/dist/style.css";
@config "../tailwind.config.js";
@plugin "@iconify/tailwind4" {
  prefix: "i";
}
@source "./app.ts";
@source "./App.vue";
@source "./pages/index/**/*.{ts,js,vue}";
@source not "./sub-normal/**/*";
@source not "./sub-independent/**/*";
@custom-variant system-dark {
  @media (prefers-color-scheme: dark) {
    @slot;
  }
}

@layer base {
  button::after,
  wx-button::after {
    display: none;
    border: none;
    content: "";
  }

  wx-button {
    background: #000;
  }
}

wx-button {
  background: #444;
}

abc {
  background: #222;
}
@source inline("i-[mdi--github-circle] i-[mdi--star] i-[svg-spinners--180-ring-with-bg] before:content-['现在，让我们开始神奇的_tailwindcss_开发之旅吧！'] before:content-['现在，让我们继续神奇的_tailwindcss_HMR_回归之旅吧！']");
