/* Tailwind v4 root entry intentionally uses plain CSS. */
@import "tailwindcss" source(none);
@custom-variant system-dark {
  @media (prefers-color-scheme: dark) {
    @slot;
  }
}
@plugin "@iconify/tailwind4";
@plugin "@iconify/tailwind4" {
  prefix: "i";
}
@plugin "@iconify/tailwind4" {
  prefix: "iconify";
  scale: 1.2;
}
@config "./tailwind.config.js";
@source "./pages/**/*.{wxml,html,js,ts,jsx,tsx,vue}";
@source not "./sub-normal/**/*";
@source not "./sub-independent/**/*";

@layer base {
  button::after,
  wx-button::after {
    display: none;
    border: none;
    content: "";
  }

  wx-button {
    background: #000;
  }
}

wx-button {
  background: #444;
}

abc {
  background: #222;
}
@source inline("i-[mdi--github-circle] i-[mdi--star] i-[svg-spinners--180-ring-with-bg] before:content-['现在，让我们开始神奇的_tailwindcss_开发之旅吧！'] before:content-['现在，让我们继续神奇的_tailwindcss_HMR_回归之旅吧！']");

page {
  --test-issue-978-color: #102938;
  --color-issue-978: #006241;
  --font-issue-978: "Issue 978", sans-serif;
}
