@import "tailwindcss" source(none);
@config "./tailwind.config.js";
@source "./App.uvue";
@source "./pages/**/*.{uts,uvue}";
@source "./components/**/*.{uts,uvue}";
@source "./stores/**/*.{uts,uvue}";
@source not "./uni_modules/**/*";
@source not "./unpackage/**/*";
@custom-variant system-dark {
  @media (prefers-color-scheme: dark) {
    @slot;
  }
}
@custom-variant wx {
  /*  #ifdef  MP-WEIXIN  */
  @slot;
  /*  #endif  */
}
@custom-variant not-wx {
  /*  #ifndef  MP-WEIXIN  */
  @slot;
  /*  #endif  */
}
@custom-variant any-hover {
  @media (any-hover: hover) {
    &:hover {
      @slot;
    }
  }
}
@layer components {
  .template-corpus-apply {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #9e58e9;
    padding-inline: 18px;
    padding-block: 10px;
    color: #fff;
    font-size: 26px;
  }
}
